/* mug */
.mug {
	fill:#F9D812;
}
/* foam */
.foam {
	fill:#FFFBC5;
}
/* liquid */
.beer-fill {
	-webkit-animation-name: fillAction;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: cubic-bezier(.2, .6, .8, .4);
	-webkit-animation-duration: 4s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes fillAction {
	0% {
		-webkit-transform: translate(0, 150px);
	}
	100% {
		-webkit-transform: translate(0, 10px);
	}
}