.activate {
	background: pink;
}
.beer-wrap {
	width: 454px;
	height: 511px;
	position: relative;
}
.foam {
	opacity: 0;
	animation: bubbleAction 15s infinite;
}
.beer-fill {
	animation: fillAction 15s infinite;
	transform-origin: 0% 100%;
	background: #D29D1D;
	height: 266px;
	width: 188px;
	transform: scale(1, 1) translateX(-50%);
	position: absolute;
	bottom: 50px;
	left: 23%;
	z-index: -1;
}
button#fill {
	width: 454px;
	height: 50px;
	background-color: #9ACD32;
	border: none;
	color: white;
	font-size: 20px;
	border-radius: 8px;
	text-transform: uppercase;
}
@-webkit-keyframes fillAction {
	0% {
		transform: scaleY(0);
	}
	100% {
	 	transform: scaleY(1);
	}
}
@-webkit-keyframes bubbleAction {
	0% {
		opacity: 0;
	}
	100% {
	 	opacity: 1;
	}
}